.subtitle {
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: white;
}

.description {
  color: white;
  font-weight: 500;
}

.box_cat {

  border-radius: 15px;

}

#yogaNidra {

  background-image: url("/images/nightsskysthio.jpg");
  background-size: 100% auto;

}

#gutenMorgen {

  background-image: url("/images/morningqwdas.jpg");
  background-size: 100% auto;

}

.description {
  margin-top: -1rem;
}