.subtitle {
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: black;
}

#mainTitle {
  margin-bottom: 0.5rem;
  font-size: 1.8em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: black;
  margin-top: -0.5rem;
}

.description {
  color: black;
  font-weight: 500;
}

.box_cat {

  border-radius: 15px;

}

#yogaNidra {

  background-image: url("/images/events/gw.jpg");
  background-size: 100% auto;

}

#events {

  background-image: url("/images/events/scott-webb-2X6nZA0jmvU-unsplash.jpg");
  background-size: 100% auto;

}

#events_local {

  background-image: url("/images/events/martin-adams-MpTdvXlAsVE-unsplash.jpg");
  background-size: 100% auto;

}

#gutenMorgen {

  background-image: url("/images/events/cupofnothing.jpg");
  background-size: 100% auto;

}

.description {
  margin-top: -1rem;
}