.categoryBox {
    font-size: 1.05rem;
    color: #000000;
    width: 7.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.1rem;

}

@media screen and (min-width: 600px) {
    .categoryBox {
        font-size: 1.75rem;
        color: #000000;
        width: 40vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        height: 8rem;
        line-height: 2.1rem;
    }
}
@media screen and (min-width: 600px) {
    .box {
        width: 40vw;
        height: 8rem;
        padding-left: 1rem;
        border-radius: 20px;
        background-size: auto auto;

    }
}

.box {

    width: 9.5rem;
    height: 10rem;
    padding-left: 1rem;
    border-radius: 20px;

    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center bottom 20%;
    background-size: 85%;

}

.titleB {
    margin-top: 0.2rem;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.box_big {
    width: 9.5rem;
    height: 15rem;
    padding-left: 1rem;
    border-radius: 20px;

    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center bottom 20%;
    background-size: 85%;

}

@media screen and (min-width: 600px) {
    .box_big {
        width: 100%;
        height: 20vw;
        padding-left: 1rem;
        border-radius: 20px;
        background-size: 50% auto;

    }

    .box {
        width: 100%;
        height: 15vw;
        padding-left: 1rem;
        border-radius: 20px;
        background-size: 50% auto;
    }

    @media screen and (min-width: 1000px) {
        .box_big {
            width: 100%;
            height: 20vw;
            padding-left: 1rem;
            border-radius: 20px;
            background-size: 30% auto;

        }

        .box {
            width: 100%;
            height: 15vw;
            padding-left: 1rem;
            border-radius: 20px;
            background-size: 30% auto;
        }
    }
}

#c1 {
    background-color: rgba(70, 70, 70, 0.08);
    background-image: url('/images/categories/new/undraw_reading_book_re_kqpk.svg');
}
#vaadinVerticalLayout {
    background-color: rgba(70, 70, 70, 0.08);
    background-image: url('/images/categories/new/undraw_nature_benefits_re_kk70 (1).svg');
}
#vaadinVerticalLayout1 {
    background-color: rgba(70, 70, 70, 0.08);
    background-image: url('/images/categories/new/undraw_skateboarding_-929-d.svg');
}
#vaadinVerticalLayout2 {
    background-color: rgba(70, 70, 70, 0.08);
    background-image: url('/images/categories/new/undraw_selfie_time_re_apbg.svg');
}
#vaadinVerticalLayout3 {
    background-color: rgba(70, 70, 70, 0.08);
    background-image: url('/images/categories/new/undraw_young_and_happy_hfpe.svg');
}
#vaadinVerticalLayout4 {
    background-color: rgba(70, 70, 70, 0.08);
    background-image: url('/images/categories/new/undraw_in_thought_re_qyxl.svg');
}
#vaadinVerticalLayout5 {
    background-color: rgba(70, 70, 70, 0.08);
    background-image: url('/images/categories/new/undraw_podcast_re_wr88.svg');
}
#vaadinVerticalLayout6 {
    background-color: rgba(70, 70, 70, 0.08);
    background-image: url('/images/categories/new/undraw_mint_tea_-7-su0.svg');
}
#vaadinVerticalLayout7 {
    background-color: rgba(70, 70, 70, 0.08);
    background-image: url('/images/categories/new/undraw_yoga_-248-n.svg');
}

#vaadinVerticalLayout8 {
    background-color: rgba(70, 70, 70, 0.08);
    background-image: url('/images/categories/new/undraw_a_whole_year_vnfm.svg');

    margin-bottom: 20vw;
}

@media (max-width:960px) {
    .box_big {
        height: 70vw;
    }
    .box {
        height: 45vw;
    }
}